/*==============================================
 MEDIA QUERIES
/*=============================================*/

@media(max-width:1230px){
	.m-img img{
		height: 350px;
	}
	.m-text h1,h2{
		font-size:3.5rem;
	}
}

@media screen and (max-width: 980px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }

  .inner-width{
    max-width: 800px;
  }
}

@media(max-width:1045px){
	.main{
		background-size: 600px;
    }
    
	.m-img{
		display:none;
    }
    
	.m-text{
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
    }
    
	.our-brand{
		flex-direction:column-reverse;
    }
    
	.brand-text,.brand-img{
		width:100%;
    }
    
	.brand-img{
		height:300px;
		margin:20px;
    }
}

@media(max-width:600px){
	.social{
		display: none;
    }
    
	.logo{
		left: 30px;
    }
    
	.logo a{
		font-size: 1.4rem;
    }
    
	.m-text{
		overflow-wrap: break-word;
		display: flex;
		flex-direction: column;
		margin:auto;
    }
    
	.m-text h1,h2{
		font-size: 2.5rem;
		line-height:40px;
		margin:0px 20px;
		letter-spacing: 10px;
    }
    
    .m-text h2{
        font-size: 1.2rem;
    }

    .m-btn{
        margin:0px 20px;
    }

    .product{
        width:88%;
    }

    .p-box{
        margin:20px 10px;
        padding:10px 20px;
        width:100%;
        text-align: center;
    }

    .subcribe-input{
        width:95%;
    }
    
	.subcribe-container h3{
		font-size:1.4rem;
		text-align: center;
    }
    
    .footer-menu{
        width:100%;
        margin:20px;
        flex-wrap: wrap;
        background-color:none;
        box-shadow: none;
    }

    .footer-menu li a{
        background-color:#fff;
        border-radius: 20px;
        box-shadow:2px 2px 30px rgba(0, 0, 0, 0.1) ;
        padding:10px 30px !important;
    }
    
	.copyright {
		text-align: center;
	}
}

/*==============================================
 CONTACTO
/*=============================================*/

@media (max-width: 850px) {
  .contact .form {
    grid-template-columns: 1fr;
  }

  .contact .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .contact .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .contact .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .contact .text {
    margin: 1rem 0 1.5rem 0;
  }

  .contact .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .contact  {
    padding: 1.5rem;
  }

  .contact .contact-info:before {
    display: none;
  }

  .contact .square,
  .contact .big-circle {
    display: none;
  }

  .contact form,
  .contact .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .contact .text,
  .contact .information,
  .contact .social-media p {
    font-size: 0.8rem;
  }

  .contact .title {
    font-size: 1.15rem;
  }

  .contact .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .contact .icon {
    width: 23px;
  }

  .contact .inputContact {
    padding: 0.45rem 1.2rem;
  }

  .contact .btn {
    padding: 0.45rem 1.2rem;
  }
}